
<mat-grid-list cols="2" rowHeight="2:1" class="grid_menu" gutterSize="20px">
    <mat-grid-tile colspan="2"><button routerLink="/view-inventory" mat-raised-button>Make Record <mat-icon>note_add</mat-icon></button></mat-grid-tile>
            <mat-grid-tile><button routerLink="/view-inventory" mat-raised-button>View Inventory <mat-icon>description</mat-icon></button></mat-grid-tile>
            <mat-grid-tile><button routerLink="/manage-stock" mat-raised-button>Manage Stock<mat-icon>add_box</mat-icon></button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button>Remove Item<mat-icon>delete_forever</mat-icon></button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button>Report<mat-icon>assignment</mat-icon></button></mat-grid-tile>
          </mat-grid-list>