<form class="example-form" [formGroup]="myForm" >
  <img src="../../assets/pics/login.png" alt="icon" style="padding-left: 25%;padding-bottom: 10%;">
  <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input type="text" matInput placeholder="User" #userUsername formControlName="name" required>
            <mat-error *ngIf="myForm?.hasError('required' ,'name')">
              Please enter your Username
            </mat-error>
          </mat-form-field>
          
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="email" #userEmail formControlName="email" required>
              <mat-error *ngIf="myForm?.hasError('required', 'email')">
                Please enter your Email
              </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill" required>
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="******" formControlName="password" #userPwd>
              <mat-error *ngIf="myForm?.hasError('required', 'password')">
                Please enter your Password
              </mat-error>
              </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" required>
              <mat-label> Confirm Password</mat-label>
              <input type="password" matInput placeholder="******" formControlName="confirmPassword" #userPwd   [errorStateMatcher]="matcher">
              <mat-error *ngIf="myForm?.hasError('notSame')">
                Passwords do not match
              </mat-error> 
            </mat-form-field>
             
              <button mat-raised-button [disabled]="!myForm.valid" color="primary" class="example-full-width" (click)="authService.SignUp(userEmail.value, userPwd.value)">SIGN-UP</button>
              <span>Already have an account? <a class="redirect" routerLink="/sign-in">Log In</a></span>
 </form>
    
<!--
<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Sign Up</h3>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
        </div>
  
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPwd required>
        </div>
  
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">
        </div>
  
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
  
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Continue with Google
          </button>
        </div>
  
      <div class="redirectToLogin">
        <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
      </div>
    </div>
  
  </div>
-->