<p>
  <mat-toolbar color="primary">
    <span>Dashboard</span>
  </mat-toolbar>
</p>
  
<mat-grid-list cols="2" rowHeight="2:1" class="grid_menu" gutterSize="20px">
  <mat-grid-tile colspan="2">
    <div class="container-fluid">
      <div class="row">
    
      
    
        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="inner-adjust">
            <!-- Show user data when logged in -->
            <div class="row" *ngIf="authService.userData as user">
              <div class="col-md-12">
                <div class="media">
                  <div class="media-body">
                    <h1>User: <strong>{{(user.usersName) ? user.usersName : 'User'}}</strong></h1>
                    <p>User ID: <strong>{{user.uid}}</strong></p>
                    <p>Email: <strong>{{user.email}}</strong></p>
                    <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                    <p>Permissions: <strong>{{user.permissions}}</strong></p>
                  </div>
                </div>
              </div>
            </div>
    
          </div>
        </main>
    
      </div>
    </div>
  </mat-grid-tile>
    <mat-grid-tile colspan="2">
 
        <mat-toolbar  style="position: absolute;top: 0;">
          <span><h1 style="font-weight:bold ;">Total Items</h1></span>
        </mat-toolbar>
    
       <div class="container">
        <p >Total number of items <strong>currently</strong> in stock.</p>
        <br>
        <p style="font-size:10em;text-align: center;">{{count}}</p>
       
    </div>
    </mat-grid-tile> 
    <mat-grid-tile rowHeight="500"  style="overflow-y: scroll;">
      
      <mat-list style="width:100%;padding-top:150px">
        <mat-list-item *ngFor="let m of data1">
          <mat-chip-list><span></span>
          <mat-chip color="primary" *ngIf="m.percentage > 0" selected>{{m.percentage}}</mat-chip><mat-chip *ngIf="m.percentage === 0" >{{m.percentage}}</mat-chip></mat-chip-list>
          <p matLine> {{m.name}} 
          </p>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
       <mat-toolbar  style="position: absolute;top: 0;">
      <span><h1 style="font-weight:bold ;">Items Distributed</h1></span>
      
    </mat-toolbar>
    <div class="container"  style="padding-top:50px">
      <p >Total number of items <strong>distributed</strong> to users.</p>
      <br>
      <p style="font-size:5em;text-align: center;">{{count1}}</p>
     
  </div>
  </mat-grid-tile>
  <div *ngIf="authService.userData as user">
  <mat-grid-tile ><button [disabled]="user.permissions !== 'unlimited'" color="primary" routerLink="/record" mat-raised-button>Record Allocation <mat-icon>note_add</mat-icon></button></mat-grid-tile>
  <mat-grid-tile ><button color="primary" routerLink="/list-items" mat-raised-button>View Inventory <mat-icon>description</mat-icon></button></mat-grid-tile>
  <mat-grid-tile ><button [disabled]="user.permissions !== 'limited' && user.permissions !== 'unlimited'" color="primary" routerLink="/manage-stock" mat-raised-button>Manage Inventory<mat-icon>add_box</mat-icon></button></mat-grid-tile>
  <mat-grid-tile ><button color="primary" routerLink="/allocations" mat-raised-button>View Item Allocations<mat-icon>person</mat-icon></button></mat-grid-tile>
  <mat-grid-tile ><button color="primary" routerLink="/report" mat-raised-button>View Reports<mat-icon>assignment</mat-icon></button></mat-grid-tile>
</div>
</mat-grid-list>