<mat-grid-list cols="2" rowHeight="2:1" class="grid_menu" gutterSize="20px">
            <mat-grid-tile colspan="2">
               <div class="container">
                <p >Total Number Of Items</p>
                <br>
                <p style="font-size:10em;text-align: center;">1384</p>
               
            </div>
            </mat-grid-tile> 
            <mat-grid-tile>
                <div class="container">
                Screws<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                <br>
                Cables<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                <br>
                Hards<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                
            </div>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
          </mat-grid-list>