@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.grid_menu{
    width:900px;
    padding-top:30px;
    margin:auto;
}