@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.grid_menu{
    width:900px;
    padding-top:30px;
    margin:auto;
}

.mat-toolbar.mat-primary {
    background: linear-gradient(to right, #24c6dc, #514a9d);
    color: #fff;
  }
  .mat-toolbar.mat-accent {
  background: #FF512F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #fff;
  }